extends layout

block content
  h1= title
  p Welcome to #{title}
  form( method="post", action="/parse_sentence")
    div
      label Input sentence:
      input(type="text", name="input_sentence", width="300px")
    div
      input(type='submit', name='op_CYK', value='CYK')
    div
      input(type='submit', name='op_Earley', value='Earley')
    div
      input(type='submit', name='op_LeftCorner', value='Left-Corner')
    div
      input(type='submit', name='op_HeadCorner', value='Head-Corner')
